use('nib')
@import 'nib'

string-var = 'some string'
color-var = #abcabc
px-var = 10px
em-var = 1em
hex-color-var = #223344
rgba-color-var = rgba(12,34,56,.7)
taple-var = 1px 2px 3px 4px
list-var = 1px, 2px, 3px, 4px
hash-var = {
  string-var: 'some string',
  nested: {
    px-var: 20px,
    nested: {
      taple-var: 1px 2px 3px 4px,
      nested: {
        list-var: 1px, 2px, 3px, 4px
      }
    }
  }
}

super-util-func(a, b, c)
  foo
    opcity a
    bar
      padding b
      baz
        margin c

use('../index.js')
